<!DOCTYPE html>
<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      
        <title>Fale Conosco</title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <script src="https:unpkg.com/vue"></script>
</head>
<body>
        <nav class="black" role="navigation">
            
                    
                    <ul class="left">
                    <li><img id="logo-container" class="brand-logo responsive-img" src="logo.png"></li>
                    </ul>
                    <ul class="right">
                    <li ><a href="index.html">Início</a></li>
                    <li class="active"><a href="inscricao.html">Inscrição</a></li>
                    <li class="active"><a href="#">Fale Conosco</a></li>
                    </ul>
            
                  <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Navbar Link</a></li>
                  </ul>
                  <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
               
              </nav>
              <div class="container">
                 <br><h3 class="center">Fale Conosco</h3><br><br>

                  <div class="input-field col s12">
                      <span class="obs" data-error="wrong" data-success="right">&nbsp;&nbsp; &nbsp; &nbsp;  Preencha todos os campos abaixo com sua crítica ou sugestão. </span><br><br>
                    </div>
                <div class="section">
              <div class="card">
                                 
                <div class="row">
                <div class="card-content">
                        
                  

                    
                 <form @submit.prevent="enviarForm">
                   
                  
                      <input  placeholder="Nome" type="text" v-model="form.nome"><br>



                     <input placeholder="Email" type="email" v-model="form.email"><br><br>

                     <label><p>Em que podemos te ajudar?</p></label>

                     <p>
                       
                         <label class="col s2">
                           <input type="radio" name="group" v-model="form.motivo" value="Compra de ingressos"/>
                           <span>Compra de ingressos</span>
                         </label>
                           <label class="col s2">
                             <input type="radio"  name="group" v-model="form.motivo" value="Inscrição de Banda"/>
                             <span>Inscrição de Banda</span>
                           </label>
                           <label class="col s2">
                             <input type="radio" name="group" v-model="form.motivo" value="Sugestões"/>
                             <span>Sugestões</span>
                           </label>
                           <label class="col s2">
                             <input type="radio"  name="group" v-model="form.motivo" value="Críticas"/>
                             <span>Críticas</span>
                           </label>
                           <label class="col s2">
                             <input type="radio"  name="group" v-model="form.motivo" value="Outros"/>
                             <span>Outros</span>
                           </label>
                           
                         </p><br><br><br>


                         <textarea id="textarea1" placeholder="Fale Conosco" v-model="form.interacao" class="materialize-textarea"></textarea>
              
                    
                    
                      <br>
                     
         
                    

                           
                            <br><button class="waves-effect waves-light btn red right" type="submit">OK</button><br><br>

                          </form>          
                           
                </div>
              </div>
            </div>
          </div>
        </div>

        
  

   

     <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
        <script>
         var vm = new Vue({
  el:'form',
  data: {
    form : {
      nome:'',
      email:'',
      motivo:'',
      interacao:'',

    }
  },
  methods:{
    enviarForm: function(){
                    let formPreenchido = Object.assign({}, this.form);
                    console.log("Formulário enviado com sucesso", formPreenchido);
                    alert("Sujestão/Reclamação registrada com sucesso!"  )
                },
  }});


        </script>

</body>
</html>